/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
    font-family: 'TacticSans-Reg';
    src: local('TacticSans-Reg'),
        url(../static/fonts/TacticSans-Reg.otf);
    }

@font-face {
        font-family: 'NotoSans-Medium';
        src: local('NotoSans-Medium'),
            url(../static/fonts/NotoSans-Medium.ttf);
        }

*{
    margin: 0;
    max-width: 100%;
    padding: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

p{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

textarea {
    resize: none;
}

.visually-hidden {
    position: absolute;
    max-width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

#yamap, #map{height: 557px;}
.map .contacts_block{padding:30px 20px 20px;width:calc(100% - 30px);-webkit-transform:none;-ms-transform:none;transform:none;top:70%}
.map .contacts_block .name{font-size:12px}
.map .contacts_block .items{font-size:11px}
.map .contacts_block li.visible .items{margin:5px 0 20px}
.test-drive+.map{margin-top:-40px}
.map{position:relative;padding:0;margin-top:30px}
.map .contacts_block{position:absolute;z-index:9;padding:25px;background-color:#fff;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);width:370px;-webkit-box-shadow:0 0 10px rgba(0,0,0,.15);box-shadow:0 0 10px rgba(0,0,0,.15);border-radius:2px;font-weight:400;margin-left:90px}
.map .contacts_block ul{padding-left:18px}
.map .contacts_block .title{font-weight:700;margin-bottom:30px}
.map .contacts_block .name{font-size:14px;color:#494949;cursor:pointer}
.map .contacts_block .name:hover{font-weight:400;color:#241010}
.map .contacts_block li{margin:10px 0}
.map .contacts_block li::before{content:'';display:block;width:8px;height:8px;background-image:url(../static/images/arrow-b.svg);margin-left:-18px;margin-right:10px;margin-bottom:-15px}
.map .contacts_block .items{font-size:12px;font-weight:400;text-decoration:none;max-height:0;overflow:hidden;-webkit-transition:max-height .3s;-o-transition:max-height .3s;transition:max-height .3s}
.map .contacts_block .items .item{padding-left:23px;margin:8px 0}
.map .contacts_block .items .item::before{content:'';display:inline-block;width:13px;height:13px;margin-left:-23px;margin-right:10px;background-size:contain;background-position:center;background-repeat:no-repeat;vertical-align:middle}
.map .contacts_block .items .item.addr::before{background-image:url(../static/images/map.svg)}
.map .contacts_block .items .item.tel::before{background-image:url(../static/images/phone.svg)}
.map .contacts_block .items .item.clock::before{background-image:url(../static/icons/clock.svg)}
.map .contacts_block .items .item.site::before{background-image:url(../static/icons/envelopes.png)}
.map .contacts_block li.visible .items{max-height:160px;margin:10px 0 25px}
.map .contacts_block li.visible .name{font-weight:500;text-decoration:underline;color:#241010}
.map .contacts_block li.visible::before{background-image:url(../static/images/arrow-t.svg)}
.map+footer{margin-top:0}

@media (max-width:905.98px) {
    .map .contacts_block{margin-left:0; top: 140%;}
}

@media (max-width:767.98px) {
    .map .contacts_block{margin-left:0; top: 147%;}
}

@media (max-width:575.98px) {
    #yamap, #map{height:200px;}
    .map .contacts_block{padding:30px 20px 20px;width:calc(100% - 0px);-webkit-transform:none;-ms-transform:none;transform:none;top:100%}
    .map .contacts_block .name{font-size:12px}
    .map .contacts_block .items{font-size:11px}
    .map .contacts_block li.active .items{margin:5px 0 20px}
}

.copyright {
    font-size: 12px;
    opacity: 0.5;
    line-height: calc(18/12);
}