.container_site {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 195px;
}

.container__auto {
    margin: 0 auto;
}

.header_inner {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header_container{
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.logo {
    max-width: 107px;
    height: 62px;
}

.wrapper__checkbox {
    display: none; 
}
    
.wrapper__checkbox:checked ~ .wrapper__menu {
    right: -8px;
}
  
  .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px; 
}
  
  .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(2) {
    opacity: 0; }
  
  .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -6px; }
  
  .wrapper__button {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 208px;
    height: 38px;
    background: #009bd8;
    top: 30px;
    right: 830px;
    cursor: pointer;
    z-index: 3; 
    color: #FFFFFF;
    border-radius: 10px;
}
  
  .wrapper__button-line {
    display: none;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: #000;
    margin: 2px 0;
    position: relative;
    -webkit-transition: all .1s linear 0.2s;
    -o-transition: all .1s linear 0.2s;
    transition: all .1s linear 0.2s; }
  
  .wrapper__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 208px;
    height: 320px;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-start;
    padding: 100px 0px 40px;
    -webkit-transition: right 0.4s;
    -o-transition: right 0.4s;
    transition: right 0.4s; 
    margin-right: 1043px;
    margin-top: 26px;
    z-index: 2;
    border-radius: 10px;
}
  
  .wrapper__menu-link {
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 30px;
    padding: 5px 10px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; 
}
    .wrapper__menu-link:hover {
      padding-right: 20px; 
    }
  

.adapt {
    display: none;
}

.title {
    margin-top: -85px;
}

.btn_wrap {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    background: #009bd8;
    width: 208px;
    height: 38px;
    border: 0;
    border-radius: 10px;
}

.btn:hover {
    -webkit-box-shadow: 0px 0px 20px rgba(52, 130, 198, 0.4);
            box-shadow: 0px 0px 20px rgba(52, 130, 198, 0.4);
}

.second {
    margin-bottom: 45px;
    padding-top: 10px;
}

.catalog__menu {
    font-family: 'TacticSans-Reg';
    src: url(../static/fonts/TacticSans-Reg.otf);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    z-index: 4;
}

.adress {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 18px;

}

.icon_dot {
    margin-right: 5px;
    word-spacing: nowrap;
    color: #000;
}

.phone_wrapper {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    margin-top: 18px;
}

.navigation {
    position: sticky;
    width: 100%;
    top: -20px;
    z-index: 8;
    margin-bottom: 100px;
    opacity: 0.9;
}

.navigation::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.nav {
    font-family: 'TacticSans-Reg';
    src: url(../static/fonts/TacticSans-Reg.otf);
    font-style: normal;
    font-weight: normal;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding-top: 35px;
}

.nav_item-link {
    font-family: 'TacticSans-Reg';
    src: url(../static/fonts/TacticSans-Reg.otf);
    font-size: 20px;
    font-style: bold;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.deck::before {
    content: 'Комплектации и цены';
}

.deck::after {
    content: 'Цены';
    display: none;
}

.main_title {
    font-family: 'TacticSans-Reg';
    src: url(../static/fonts/TacticSans-Reg.otf);
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 70px;
    padding-bottom: 40px;
}

.line_exter {
    max-width: 1200px;
    position: relative;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_title_one {
    margin-top: 100px;
    margin-bottom: 100px;
}

.slider_title_one::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    top: calc(51% - 1.5px);
    width: 40%;
    left: 0;
    height: 3px;
    background-color: #009bd8;
} 

.line__sale {
    max-width: 1200px;
    position: relative;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.line__sale::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    top: calc(22% - 1.5px);
    width: 35%;
    right: 0;
    height: 3px;
    background-color: #009bd8;
}

.categoty {
    margin-top: 50px;
}

.category__list {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category__image {
    width: 100%;
    margin-bottom: 30px;
    opacity: 1;
    transition: all 500ms ease;
}

.category__image:hover {
    opacity: 0.5;
}

.category__item {
    min-height: 270px;
    max-width: 280px;
    margin: 0 10px 100px 20px;
    position: relative;
}

.date__info {
    display: flex;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.date__info-item {
    background: #3482C6;
}

.category__title {
    color: #000;
    font-weight: 600;
    opacity: 1;
    transition: all 500ms ease;
}

.category__title:hover {
    opacity: 0.5;
}

.category__title__wrap {
    margin-bottom: 25px;
}

.category__desc {
    margin-bottom: 25px;
}

.category__info {
    font-weight: 600;
    color: #3482C6;
    border-bottom: 1px solid #3482C6;
    opacity: 1;
    transition: all 500ms ease;
}

.category__info:hover {
    opacity: 0.5;
}

.station__form {
    background-image: url(../images/evgeny-tchebotarev-aiwuLjLPFnU-unsplash.png);
    background-size: cover;
    background-position: center;
}

.sale__est {
    margin-bottom: 50px;
}

.wrap__form {
    display: flex;
    justify-content: flex-end;
}

.auto {
    height: 350px;
    max-width: 453px;
    background-color: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 10;
}

.auto__title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.station__form {
    padding: 40px 0;
    background-image: url(../images/evgeny-tchebotarev-aiwuLjLPFnU-unsplash.png);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

.input__popup {
    max-width: 300px;
    width: 300px;
}

.auto__sale {
    height: 350px;
    max-width: 453px;
    border-radius: 10px;
    margin-left: 925px;
    background-color: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 10;
}

.label__popup {
    margin-right: 200px;
}

.checkbox_popup {
    text-align: center;
    margin-bottom: 10px;
}

.popup_cont {
    margin-left: 50px;
}

.field_name {
    margin-bottom: 17px;
}

.field_phone {
    margin-bottom: 17px;
}

.field_calendar {
    margin-bottom: 17px;
}

@media (min-width: 1366px) and (max-width: 1540px) {
    .container_site {
        padding: 0 90px;
    }
}

@media (min-width: 1261px) and (max-width: 1366px) {
    .container_site {
        padding: 0 50px;
    }
}

@media (min-width: 1020px) and (max-width: 1261px) {
    .container_site {
        padding: 0 20px;
    }

    .wrapper__menu {
        margin-right: 768px;
    }
}

@media (min-width: 760px) and (max-width: 1020px) {
    .container_site {
        padding: 0 20px;
    }

    .wrapper__menu {
        margin-right: 548px;
    }

    .slider_title_one {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .category__item {
        margin: 0 10px 50px 20px; 
    }

    .date__info-item {
        font-size: 12px;
    }

    .category__title {
        font-size: 14px;
    }

    .category__desc {
        font-size: 12px;
    }

    .category__info {
        font-size: 10px;
    }

    .category__image {
        margin-bottom: 10px;
    }

    .date__info {
        margin-bottom: 10px;
    }

    .category__title__wrap {
        margin-bottom: 10px;
    }

    .auto {
        height: 290px;
        max-width: 400px;
    }

    .auto__title {
        font-size: 14px;
    }

    .label__popup {
        font-size: 12px;
    }

    .field_name {
        margin-bottom: 5px;
    }

    .input__popup  {
        font-size: 12px;
    }

    .field_phone {
        margin-bottom: 5px;
    }

    .field_calendar {
        margin-bottom: 5px;
    }

    .checkbox__drive {
        font-size: 12px;
    }

    .popup__btn  {
        font-size: 12px;
    }
}

@media (min-width: 414px) and (max-width: 760px) {
    .container_site {
        padding: 0 20px;
    }

    .wrapper__menu {
        margin-right: 100px;
    }

    .slider_title_one {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .slider_title_one::after {
        width: 35%;
    }

    .category__item {
        margin: 0 10px 50px 5px;
    }

    .category__image {
        margin-bottom: 5px;
    }

    .date__info {
        margin-bottom: 5px;
    }

    .date__info-item {
        font-size: 12px;
    }

    .category__title {
        font-size: 14px;
    }

    .category__title__wrap {
        margin-bottom: 10px;
    }

    .category__desc {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .category__info {
        font-size: 10px;
    }

    .wrap__form {
        justify-content: center;
    }

    .station__form {
        margin-top: 20px;
    }

    .auto {
        height: 290px;
        max-width: 400px;
    }

    .auto__title {
        font-size: 14px;
    }

    .label__popup {
        font-size: 12px;
    }

    .field_name {
        margin-bottom: 5px;
    }

    .input__popup  {
        font-size: 12px;
    }

    .field_phone {
        margin-bottom: 5px;
    }

    .field_calendar {
        margin-bottom: 5px;
    }

    .checkbox__drive {
        font-size: 12px;
    }

    .popup__btn  {
        font-size: 12px;
    }
}

@media (min-width: 320px) and (max-width: 414px) {
    .container_site {
        padding: 0 5px;
    }

    .slider_title_one::after {
        width: 30%;
    }

    .slider_title_one {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .category__item {
        margin: 0 10px 40px 10px;
    }

    .category__image {
        margin-bottom: 10px;
    }

    .date__info {
        margin-bottom: 10px;
    }

    .date__info-item {
        font-size: 12px;
    }

    .category__title__wrap {
        margin-bottom: 10px;
    }

    .category__title {
        font-size: 14px;
    }

    .category__desc {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .category__info {
        font-size: 10px;
    }

    .wrap__form {
        justify-content: center;
    }

    .auto {
        max-width: 300px;
    }

    .auto__title {
        font-size: 14px;
    }

    .popup_cont {
        margin-left: 20px;
    }

    .label__popup {
        font-size: 12px;
    }

    .input__popup {
        font-size: 12px;
    }

    .label__popup {
        margin-right: 160px;
    }

    .input__popup {
        width: 250px;
    }

    .checkbox__drive {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
    }
}
