.container_site {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 195px;
}

.btn {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    background: #009bd8;
    width: 208px;
    height: 38px;
    border: 0;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
}

.header__mobile_btn {
    display: none;
}

.header__close__btn {
    display: none;
}

.mobile__header {
    display: none;
}

.company__logo {
    max-width: 217px;
    height: 123px;
    margin-right: 50px;
}

.mobile_phone_btn {
    display: none;
}

.adress {
    display: flex;
    font-size: 16px;
    line-height: calc(24/16);
}

.addr__item {
    margin-right: -25px;
    margin-bottom: 10px;
}

.addr__item::before {
    content: url(../icons/Vector.svg);
    margin-right: 5px;
}

.work__detail {
    font-size: 18px;
    line-height: calc(24/18);
}

.wrapper__phone {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.phone {
    font-size: 18px;
    line-height: calc(32/18);
    margin-top: -5px;
    margin-bottom: 10px;
}

.phone::before {
    content: url(../static/icons/telephone.svg);
    margin-right: 5px;
}

.rev__phone {
    padding-top: 5px;
    margin-bottom: 10px;
    background-color: #47A0ED;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    background: #009bd8;
    width: 208px;
    height: 38px;
    border: 0;
}

.text__phone {
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
}

.nav {
  margin-top: 50px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav__item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav__item__link {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    color: #000;
    font-size: 18px;
    line-height: calc(33/18);
}

.nav__item__link:hover {
    transition: 0.3s;
    background-color: #ddd;
}

.nav__bar {
    margin-top: 50px;
}

.nav__bar__ul {
    display: flex;
    justify-content: center;
}

li.nav__bar__li:last-child {
    margin-right: 0px;
}

.nav__bar__item {
    color: #000;
    padding: 20px;
}

.nav__bar__item:hover {
    background-color: #C4C4C4;
}

.title__tabs {
    margin-top: 50px;
}

.title__tabs {
    text-align: center;
}

.tabs {
    max-width: 1200px;
    margin: 50px auto;
}

.sub__tabs {
    max-width: 1200px;
    margin: 50px auto;
}

.tabs__nav {
    display: flex;
    justify-content: center;
}

.tabs__nav-btn {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}

.sub__tabs__item {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    background-color: #fff;
    border: 0;
}

.sub__tabs__item:hover {
    transition: 0.3s;
    background-color: #ddd;
}

.tabs__nav-btn:last-child {
    border-right: none;
}

.tabs__nav-btn:hover {
    transition: 0.3s;
    background-color: #ddd;
}

.tabs__nav-btn.active {
    color: #000;
    background-color: #2098D1;
}

.sub__tab__link {
    margin-bottom: 20px;
}

.sub__tabs__nav {
    display: flex;
    justify-content: center;
}

.sub__nav-btn {
    padding: 15px 30px;
    font-size: 20px;
    line-height: calc(38/20);
    background-color: #fff;
    border: 0;
    border-right: 1px solid #ddd;
    cursor: pointer;
}

.sub__nav-btn:last-child {
    border-right: none;
}

.sub__nav-btn:hover {
    transition: 0.3s;
    background-color: #ddd;
}

.table__scroll {
    overflow-x: scroll;
}

.tabs__content {
    text-align: center;
    background-color: #fff;
}

.tabs__item {
    overflow-y: auto;
}

.table__title {
    font-size: 16px;
    line-height: calc(30/16);
    margin-bottom: 10px;
}

.bb {
    border-bottom: 2px solid black;
}

.top__title {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.left__title {
    font-size: 14px;
    line-height: calc(28/14);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.price {
    font-size: 14px;
    line-height: calc(28/14);
    text-align: center;
    margin-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ddd;
}

.top__title {
    font-size: 14px;
}

.price__item {
    background: #fff;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    line-height: calc(28/14);
    min-width: 100px;
    white-space: normal;
}

.tabs__item {
    display: none;
}

.tabs__item__fl {
    display: flex;
    flex-wrap: wrap;
}

.tabs__link__fl {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 5px;
}

.tabs__link__fl:hover {
    transition: 0.3s;
    background-color: #ddd;
}

.model_catalog__image {
    width: 200px;
    height: 130px;
}

.tabs__item__desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.model_catalog__title {
    font-size: 20px;
    line-height: calc(24/20);
    color: #000;
    text-transform: uppercase;
}

.model_catalog__price {
    color: #000;
    font-size: 18px;
    line-height: calc(32/18);
}

.tabs__item.active {
    display: block;
}

.tab__img {
    width: 290px;
    flex-shrink: 0;
}

.img__nav {
    display: flex;
}

.content__item {
    font-size: 16px;
    line-height: calc(24/16);
}

/* табы на css */

label {
    cursor: pointer;
}

.color__js {
    background-color: #47A0ED;
}

.sub-tabs-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
  .tab-radio {
    display: none;
  }
  
  /* Tabs behaviour, hidden if not checked/clicked */
  .sub-tab-content,
  .tab-content {
    display: none;
  }
  
  .tab-radio:checked + .tab-content,
  .tab-radio:checked + .sub-tab-content {
    display: block;
  }

  .sub-tab-content {
    width: 1024px;
  }

  table {
    width: 100%;
  }
  
  /* Tabs Content */
  .tab-content {
    padding: 10px;
  }

.background {
    padding: 40px 0;
    background-image: linear-gradient(black,
    transparent 80%,
    transparent 20%,
    black), url(../static/images/mirror__content__img.jpg);
    background-size: cover;
    background-position: center;
}

.flex__cont {
    display: flex;
    justify-content: space-between;
}

.form_traid-in {
    width: 470px;
    height: 540px;
    background-color: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
}

.sub_title {
    font-family: 'TacticSans-Reg';
    src: url(../static/fonts/TacticSans-Reg.otf);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
}

.field {
    padding-left: 30px;
    padding-top: 15px;
    display: inline-block;
}

.input__traid-in{
    width: 410px;
    height: 45px;   
    background: #FFFFFF;
    border: 1px solid rgba(52, 130, 198, 0.05);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 4px 6px 10px rgba(110, 185, 241, 0.1);
            box-shadow: 4px 6px 10px rgba(110, 185, 241, 0.1);
    border-radius: 5px;
    padding-left: 10px;
}

.field__credit {
    padding-left: 30px;
    padding-top: 15px;
    display: inline-block;
}

.input__credit {
    width: 410px;
    height: 45px;   
    background: #FFFFFF;
    border: 1px solid rgba(52, 130, 198, 0.05);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 4px 6px 10px rgba(110, 185, 241, 0.1);
            box-shadow: 4px 6px 10px rgba(110, 185, 241, 0.1);
    border-radius: 5px;
    padding-left: 10px;
}

.checkbox__credit {
    padding-top: 20px;
    padding-left: 212px;
}

.checkbox__personal {
    padding-top: 20px;
    padding-left: 212px;
}

.traid__btn {
    width: 312px;
    height: 57px;
    margin-top: 20px;
}

.title__content__item {
    font-weight: 600;
}

.content__item {
    margin-bottom: 15px;
    color: #fff;
}

.sub__content__item {
    font-size: 16px;
    line-height: calc(24/16);
    margin-bottom: 15px;
    color: #fff;
}

.popup__btn__flex {
    display: flex;
    justify-content: center;
}

.credit__btn {
    width: 312px;
    height: 57px;
    margin-top: 20px;
}

.title {
    font-family: 'TacticSans-Reg';
    src: url(../static/fonts/TacticSans-Reg.otf);
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    line-height: calc(28/24);
}


.sub__title {
    margin-top: 50px;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: calc(33/18);
}
  
.seo__title {
    font-family: 'TacticSans-Reg';
    src: url(../static/fonts/TacticSans-Reg.otf);
    font-size: 24px;
    line-height: calc(45/24);
    margin-top: 100px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.seo__sub_title {
    font-size: 18px;
    line-height: calc(33/18);
    text-align: center;
    margin-bottom: 50px;
}

.seo__list__title {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: calc(33/18);
}

.seo__list-item {
    padding-left: 95px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: calc(33/16);
}

.seo__list-item::before {
    content: url(../static/icons/arr.svg);
    margin-right: 5px;
}

.seo__text {
    font-size: 18px;
    line-height: calc(33/18);
    margin-bottom: 10px;
}
  
.wrapper__footer {
    display: flex;
    margin-top: 50px;
}

.maps {
    margin-top: 50px;
}

.footer__section {
    margin-right: 50px;
}

.last {
    margin-top: 40px;
}

.footer__title {
    font-family: 'TacticSans-Reg';
    src: url(../static/fonts/TacticSans-Reg.otf);
    font-size: 18px;
    line-height: calc(33/18);
    margin-bottom: 10px;
}

.footer__list__item {
    font-size: 16px;
    line-height: calc(28/16);
    margin-bottom: 5px;
}


@media (min-width: 1366px) and (max-width: 1510px) {
    .container_site {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
    }
    .header__mobile_btn {
        display: none;
    }

    .header__close__btn {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .container_site {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .adress {
        flex-wrap: nowrap;
        margin-left: 15px;
    }

    .header__mobile_btn {
        display: none;
    }

    .header__close__btn {
        display: none;
    }

    .mobile__header {
        display: none;
    }

    .sub-tab-content {
        overflow-x: scroll;
      }
}

@media (min-width: 880px) and (max-width: 1024px) {
    .container_site {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .adress {
        flex-wrap: nowrap;
    }

    .work__detail {
        font-size: 12px;
    }

    .header__mobile_btn {
        display: none;
    }

    .header__close__btn {
        display: none;
    }

    .phone {
        font-size: 14px;
    }

    .addr__item {
        font-size: 10px;
    }

    .nav__item__link {
        font-size: 14px;
    }

    .sub-tab-content {
        overflow-x: scroll;
      }

    .model_catalog__title {
        font-size: 16px;
        padding-bottom: 12px;
    }

    .model_catalog__price {
        font-size: 14px;
    }

    .mobile__header {
        display: none;
    }

    .seo__sub_title {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .seo__list__title {
        padding-left: 45px;
        font-size: 14px;
    }
    
    .seo__list-item {
        padding-left: 65px;
        padding-bottom: 15px;
        font-size: 14px;
    }
}

@media (min-width: 660px) and (max-width: 880px) {
    .container_site {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .adress {
        display: none;
    }
    .phone {
        display: none;
    }
    .rev__phone {
        display: none;
    }

    .work__detail {
        display: none;
    }

    .company__logo {
        max-width: 185px;
        height: 75px;
        margin-right: 0px;
    }

    .header {
        margin-left: 100px; 
    }

    .header__mobile_btn {
        display: block;
        background: transparent;
        border: none;
        width: 50px;
        height: 50px;
    }

    .header__mobile_btn:hover {
        opacity: 0.5;
    }

    .header__close__btn {
        display: block;
        background: transparent;
        border: none;
        width: 50px;
        height: 50px;
    }
    
    .header__close__btn:hover {
        opacity: 0.5;
    }

    .mobile__header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.4s;
        z-index: 50;
        transform: translateX(-1000px);
    }

    .open {
        transform: translateX(0px);
    }

    .mobile__header__container {
        background: #47A0ED;
        height: 100vh;
        width: 100%;
        padding: 50px;
        display: flex;
        justify-content: space-between;
    }

    .mobile_phone_btn {
        display: block;
        margin-top: 15px;
    }

    .nav__item__link__mobile {
        color: #FFFFFF;
        font-size: 18px;
        line-height: calc(32/18);
    }

    .mob__phone {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #47A0ED;
        display: inline-block;
        color: #47A0ED;
        font-size: 14px;
        line-height: 17px;
        background: #fff;
        width: 208px;
        height: 38px;
        border: 0;
        display: block;
    }

    .mob__text {
        text-align: center;
        color: #47A0ED;
    }

    .work__title__mobile {
        font-size: 16px;
        line-height: calc(24/16);
    }

    .work__saloon__mobile {
        font-size: 16px;
        line-height: calc(24/16);
    }

    .work__tech__mobile {
        font-size: 16px;
        line-height: calc(24/16);
        margin-bottom: 20px;
    }

    .phone__mobile {
        font-size: 16px;
        line-height: calc(32/16);
        color: #fff;
    }

    .politics__mobile {
        color: #FFFFFF;
        font-size: 18px;
        line-height: calc(32/18);
    }

    .nav {
        display: none;
    }

    .nav__bar {
        margin-top: 10px;
    }
    
    
    .title__tabs {
        margin-top: 20px;
    }

    .tabs {
        margin-top: 20px;
    }

    .nav__bar__ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .nav__bar__li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__bar__item {
        padding: 10px;
    }

    .sub-tab-content {
        overflow-x: scroll;
      }

    .tabs__nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }
    
    .tabs__nav__btn {
        text-transform: uppercase;
    }
    
    .form_traid-in {
        margin-left: 5px;
        width: 370px;
        height: 495px;
    }

    .sub_title {
        font-size: 18px;
    }

    .input__traid-in {
        width: 270px;
    }

    .label__traid-in {
        font-size: 12px;
    }
    
    .input__traid-in {
        font-size: 12px;
        height: 40px;
    }

    .checkbox__personal {
        padding-left: 120px;
    }

    .checkbox__label {
        font-size: 12px;
    }

    .credit__btn {
        width: 285px;
        height: 40px;
    }

    
    .seo__title {
        font-size: 20px;
        margin-top: 50px;
    }

    .seo__sub_title {
        font-size: 14px;
    }

    .seo__list__title {
        padding-left: 25px;
        padding-right: 30px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .seo__list-item {
        padding-left: 50px;
        font-size: 14px;
    }

    .seo__text {
        font-size: 14px;
    }
    
    .wrapper__footer {
        font-size: 12px;
    }

    .wrapper__footer {
        flex-direction: column;
        align-items: center;
    }

    .footer__section {
        margin-right: 1px;
    }

    .footer__title {
        text-align: center;
    }

    .footer__list__item {
        text-align: center;
    }
}

@media (min-width: 420px) and (max-width: 660px) {
    .container_site {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .adress {
        display: none;
    }
    .phone {
        display: none;
    }
    .rev__phone {
        display: none;
    }

    .work__detail {
        display: none;
    }

    .company__logo {
        max-width: 185px;
        height: 75px;
        margin-right: 0px;
    }
    
    .header {
        margin-left: 50px; 
    }

    .header__mobile_btn {
        display: block;
        background: transparent;
        border: none;
        width: 50px;
        height: 50px;
    }

    .header__mobile_btn:hover {
        opacity: 0.5;
    }

    .header__close__btn {
        display: block;
        background: transparent;
        border: none;
        width: 50px;
        height: 50px;
    }
    
    .header__close__btn:hover {
        opacity: 0.5;
    }

    .mobile__header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.4s;
        z-index: 50;
        transform: translateX(-1000px);
    }

    .sub-tab-content {
        overflow-x: scroll;
      }

    .open {
        transform: translateX(0px);
    }

    .mobile__header__container {
        background: #47A0ED;
        height: 100vh;
        width: 100%;
        padding: 50px;
        display: flex;
        justify-content: space-between;
    }

    .mobile_phone_btn {
        display: block;
        margin-top: 15px;
    }

    .nav__item__link__mobile {
        color: #FFFFFF;
        font-size: 18px;
        line-height: calc(32/18);
    }

    .mob__phone {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #47A0ED;
        display: inline-block;
        color: #47A0ED;
        font-size: 14px;
        line-height: 17px;
        background: #fff;
        width: 208px;
        height: 38px;
        border: 0;
        display: block;
    }

    .mob__text {
        text-align: center;
        color: #47A0ED;
    }

    .work__title__mobile {
        font-size: 16px;
        line-height: calc(24/16);
    }

    .work__saloon__mobile {
        font-size: 16px;
        line-height: calc(24/16);
    }

    .work__tech__mobile {
        font-size: 16px;
        line-height: calc(24/16);
        margin-bottom: 20px;
    }

    .phone__mobile {
        font-size: 16px;
        line-height: calc(32/16);
        color: #fff;
    }

    .politics__mobile {
        color: #FFFFFF;
        font-size: 18px;
        line-height: calc(32/18);
    }

    .nav {
        display: none;
    }

    .nav__bar {
        margin-top: 10px;
    }
    
    .title__tabs {
        margin-top: 20px;
    }

    .tabs {
        margin-top: 20px;
    }

    .tabs__nav-btn {
        padding: 10px 10px;
    }

    .tabs__nav-btn {
        font-size: 14px;
    }

    .nav__bar__ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        text-align: center;
    }

    .nav__bar__li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__bar__item {
        padding: 10px;
    }

    .tabs__nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }
    
    .tabs__nav__btn {
        text-transform: uppercase;
    }
    
    .form_traid-in {
        margin-left: 5px;
        width: 360px;
        height: 490px;
    }

    .sub_title {
        font-size: 18px;
    }

    .label__traid-in {
        font-size: 12px;
    }

    .flex__cont {
        align-items: center;
        flex-direction: column;
    }
    
    .input__traid-in {
        width: 295px;
        font-size: 12px;
        height: 40px;
    }

    .checkbox__personal {
        padding-left: 90px;
    }

    .checkbox__label {
        font-size: 12px;
    }

    .credit__btn {
        width: 265px;
        height: 40px;
    }
    
    .seo__title {
        font-size: 18px;
        margin-top: 50px;
    }

    .seo__sub_title {
        font-size: 16px;
    }

    .seo__list__title {
        padding-left: 1px;
        padding-right: 1px;
        font-size: 14px;
    }

    .seo__list-item {
        padding-left: 20px;
        font-size: 14px;
    }

    .seo__text {
        font-size: 14px;
    }
    
    .wrapper__footer {
        font-size: 12px;
    }

    .wrapper__footer {
        flex-direction: column;
        align-items: center;
    }

    .footer__section {
        margin-right: 1px;
    }

    .footer__title {
        text-align: center;
    }

    .footer__list__item {
        text-align: center;
    }
}


@media (min-width: 320px) and (max-width: 420px) {
    .container_site {
        max-width: 350px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .adress {
        display: none;
    }
    .phone {
        display: none;
    }
    .rev__phone {
        display: none;
    }

    .work__detail {
        display: none;
    }

    .company__logo {
        max-width: 185px;
        height: 75px;
        margin-right: 0px;
    }

    .model_catalog__image {
        width: 150px;
        height: 100px;
    }
    .tabs__link__fl {
        margin-right: 25px;
        margin-bottom: 10px;
    }

    .header {
        margin-left: 20px;
    }

    .nav {
        display: none;
    }

    .header {
        margin-left: 30px; 
    }

    .header__mobile_btn {
        display: block;
        background: transparent;
        border: none;
        width: 50px;
        height: 50px;
    }

    .header__mobile_btn:hover {
        opacity: 0.5;
    }

    .header__close__btn {
        display: block;
        background: transparent;
        border: none;
        width: 50px;
        height: 50px;
    }
    
    .header__close__btn:hover {
        opacity: 0.5;
    }

    .mobile__header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.4s;
        z-index: 50;
        transform: translateX(-1000px);
    }

    .open {
        transform: translateX(0px);
    }

    .mobile__header__container {
        background: #47A0ED;
        height: 100vh;
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }

    .mobile_phone_btn {
        display: block;
        margin-top: 15px;
    }

    .nav__item__link__mobile {
        color: #FFFFFF;
        font-size: 18px;
        line-height: calc(32/18);
    }

    .mob__phone {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #47A0ED;
        display: inline-block;
        color: #47A0ED;
        font-size: 14px;
        line-height: 17px;
        background: #fff;
        width: 208px;
        height: 38px;
        border: 0;
        display: block;
    }

    .mob__text {
        text-align: center;
        color: #47A0ED;
    }

    .work__title__mobile {
        font-size: 16px;
        line-height: calc(24/16);
    }

    .work__saloon__mobile {
        font-size: 16px;
        line-height: calc(24/16);
    }

    .work__tech__mobile {
        font-size: 16px;
        line-height: calc(24/16);
        margin-bottom: 20px;
    }

    .phone__mobile {
        font-size: 16px;
        line-height: calc(32/16);
        color: #fff;
    }

    .politics__mobile {
        color: #FFFFFF;
        font-size: 18px;
        line-height: calc(32/18);
    }

    .nav__bar__ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    .title__tabs {
        margin-top: 20px;
    }

    .tabs {
        margin-top: 20px;
    }

    .tabs__nav-btn {
        padding: 10px 15px;
        font-size: 14px;
    }    

    .nav__bar__li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sub__tabs__item {
        padding: 10px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .nav__bar__item {
        padding: 10px;
        font-size: 14px;
    }

    .tabs__nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
    }
    
    .tabs__nav__btn {
        text-transform: uppercase;
    }

    .sub-tab-content {
        overflow-x: scroll;
      }

    .flex__cont {
        align-items: center;
        flex-direction: column;
    }

    .form_traid-in {
        width: 285px;
        height: 490px;
    }

    .sub_title {
        font-size: 16px;
    }

    .label__traid-in {
        font-size: 12px;
    }

    .field {
        padding-left: 20px;
    }
    
    .input__traid-in {
        width: 230px;
        font-size: 12px;
        height: 40px;
    }
    
    .checkbox__personal {
        padding-left: 90px;
    }

    .checkbox__label {
        font-size: 12px;
    }

    .credit__btn {
        width: 245px;
        height: 40px;
    }
    
    .seo__title {
        font-size: 16px;
        margin-top: 50px;
    }

    .seo__sub_title {
        font-size: 14px;
    }

    .seo__list__title {
        padding-left: 1px;
        padding-right: 1px;
        font-size: 14px;
    }

    .seo__list-item {
        padding-left: 25px;
        font-size: 14px;
    }

    .seo__text {
        font-size: 14px;
    }

    .wrapper__footer {
        font-size: 12px;
    }

    .wrapper__footer {
        flex-direction: column;
        align-items: center;
    }

    .footer__section {
        margin-right: 1px;
    }

    .footer__title {
        text-align: center;
    }

    .footer__list__item {
        text-align: center;
    }
}