.wrapper__map {
    display: flex;
}

.wrapper__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 30px;
}

.slider-container {
    overflow: hidden;
    max-width: 550px;
    margin-top: 50px;
}

.swiper-wrapper {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.category__image {
    flex-shrink: 0;
}

.maps {
    margin-top: 50px;
}

.map__title {
    font-size: 24px;
}

.map__list {
    display: flex;
    align-items: center;
}

.map__list {
    margin-bottom: 20px;
}

.map__desc {
    font-size: 14px;
    line-height: calc(22/14);
    margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 900px) {
    .wrapper__map {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 510px) and (max-width: 768px) {
    .wrapper__map {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 320px) and (max-width: 510px) {
    .wrapper__map {
        flex-direction: column;
        align-items: center;
    }

    .maps {
        margin-top: 10px;
    }

    .slider-container {
        margin-top: 10px;
    }

    .map__title {
        font-size: 18px;
    }

    .icon__map {
        max-width: 30px;
    }

    .map__desc {
        font-size: 12px;
        line-height: calc(22/12);
    }

    .wrapper__info {
        margin-left: 1px;
    }
}