.container_site {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.container__auto {
    margin: 0 auto;
}

.header_inner {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo {
    max-width: 107px;
    height: 62px;
}

.wrapper__checkbox {
    display: none; 
}
    
.wrapper__checkbox:checked ~ .wrapper__menu {
    right: -8px;
}
  
  .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px; 
}
  
  .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(2) {
    opacity: 0; }
  
  .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -6px; }
  
  .wrapper__button {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 208px;
    height: 38px;
    background: #009bd8;
    top: 30px;
    right: 830px;
    cursor: pointer;
    z-index: 3; 
    color: #FFFFFF;
    border-radius: 10px;
}
  
  .wrapper__button-line {
    display: none;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: #000;
    margin: 2px 0;
    position: relative;
    -webkit-transition: all .1s linear 0.2s;
    -o-transition: all .1s linear 0.2s;
    transition: all .1s linear 0.2s; }
  
  .wrapper__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 208px;
    height: 320px;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-start;
    padding: 100px 0px 40px;
    -webkit-transition: right 0.4s;
    -o-transition: right 0.4s;
    transition: right 0.4s; 
    margin-right: 1043px;
    margin-top: 26px;
    z-index: 2;
    border-radius: 10px;
}
  
  .wrapper__menu-link {
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 30px;
    padding: 5px 10px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; 
}
    .wrapper__menu-link:hover {
      padding-right: 20px; 
    }

.btn_wrap {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    background: #009bd8;
    width: 208px;
    height: 38px;
    border: 0;
    border-radius: 10px;
}

.btn:hover {
    -webkit-box-shadow: 0px 0px 20px rgba(52, 130, 198, 0.4);
            box-shadow: 0px 0px 20px rgba(52, 130, 198, 0.4);
}

.catalog__menu {
    font-family: 'TacticSans-Reg';
    src: url(../static/fonts/TacticSans-Reg.otf);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    z-index: 4;
}

.adress {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 18px;

}

.icon_dot {
    margin-right: 5px;
    word-spacing: nowrap;
    color: #000;
}

.phone_wrapper {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    margin-top: 18px;
}

.line_exter {
    max-width: 1200px;
    position: relative;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    height: 100%;
    width: 45%;
    text-align: center;
    margin: 5px;
    display: none;
  }

.content__btn {
    display: flex;
    justify-content: flex-end;
}  

.btn__info {
    color: #000;

    padding: 0px 2px 2px 2px;
    font-weight: 300;
}
.btn__info {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .btn__info:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .btn__info:hover, .btn__info:focus, .btn__info:active {
    color: white;
  }
  .btn__info:hover:before, .btn__info:focus:before, .btn__info:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  #loadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #009bd8;
    transition: .3s;
  }
  #loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
  }
  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }

  .content__title {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }

.content__img {
    margin-top: 20px;
    opacity: 1;
    transition: all 500ms ease-in-out;
}

.content__img:hover {
    opacity: 0.5;
}

.content__title:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .content__title:hover:before, .content__title:focus:before, .content__title:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  
.wrap__form {
    display: flex;
    justify-content: flex-end;
}

.news__style {
    height: 350px;
    max-width: 453px;
    background-color: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 10;
}

.news__title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.wrap__form {
    display: flex;
    justify-content: flex-end;
}

.auto {
    height: 350px;
    max-width: 453px;
    background-color: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 10;
}

.auto__title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.station__form {
    padding: 40px 0;
    background-image: url(../images/image__red_car.png);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

.input__popup {
    max-width: 300px;
    width: 300px;
    height: 27px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(52, 130, 198, 0.05);
    box-sizing: border-box;
    box-shadow: rgb(110 185 241 / 10%) 4px 6px 10px;
    border-radius: 5px;
    padding-left: 10px;
}

.auto__sale {
    height: 350px;
    max-width: 453px;
    border-radius: 10px;
    margin-left: 925px;
    background-color: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 10;
}

.label__popup {
    margin-right: 250px;
}

.input__est {
    width: 300px;
    height: 27px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(52, 130, 198, 0.05);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: rgb(110 185 241 / 10%) 4px 6px 10px;
            box-shadow: rgb(110 185 241 / 10%) 4px 6px 10px;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    padding-left: 10px;
}

.checkbox_popup {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.popup_cont {
    margin-left: 50px;
}

.field_name {
    margin-bottom: 17px;
}

.field_phone {
    margin-bottom: 17px;
}



.line_exter {
    max-width: 1200px;
    position: relative;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    overflow: hidden;
}


.slider_title_one {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.slider_title_one::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    top: calc(51% - 1.5px);
    width: 35%;
    left: 0;
    height: 3px;
    background-color: #009bd8;
}

.news__card {
    margin-bottom: 15px;
}

.date__info {
    display: flex;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.date__info-item {
    background: #3482C6;
    padding: 2px;
}

.category__image {
    min-width: 150px;
    max-height: 250px;
    margin-bottom: 30px;
    opacity: 1;
    transition: all 500ms ease-in-out;
}

.category__image:hover {
    opacity: 0.5;
}

.category__title__wrap {
    margin-bottom: 15px;
}

.category__title {
    color: #000;
    font-weight: 600;
    opacity: 1;
    transition: all 500ms ease;
}

.category__title:hover {
    opacity: 0.5;
}

@media (min-width: 1366px) and (max-width: 1540px) {
    .container_site {
        padding: 0 20px;
    }
}


@media (min-width: 1261px) and (max-width: 1366px) {
    .container_site {
        padding: 0 50px;
    }
}

@media (min-width: 1020px) and (max-width: 1261px) {
    .container_site {
        max-width: 980px;
        padding: 0 20px;
    }

    .wrapper__menu {
        margin-right: 768px;
    }
    .title__image {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 760px) and (max-width: 1020px) {
    .container_site {
        max-width: 940px;
        padding: 0 20px;
    }

    .wrapper__menu {
        margin-right: 548px;
    }
    
    .title {
        font-size: 22px;
        line-height: 26px;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .auto {
        height: 290px;
        max-width: 400px;
    }

    .auto__title {
        font-size: 14px;
        margin-bottom: -5px;
    }

    .label__popup {
        font-size: 12px;
    }

    .field_name {
        margin-bottom: 5px;
    }

    .input__popup  {
        font-size: 12px;
    }

    .field_phone {
        margin-bottom: 5px;
    }

    .field_calendar {
        margin-bottom: 5px;
    }

    .checkbox__drive {
        font-size: 12px;
    }

    .popup__btn  {
        font-size: 12px;
    }

    .slider_title_one {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .slider_title_one::after {
        width: 27%;
    }

    .date__info {
        margin-bottom: 10px;
    }

    .date__info-item {
        font-size: 10px;
    }

    .category__title {
        color: #000;
        font-size: 14px;
    }

    .category__desc {
        font-size: 12px;
    }
}

@media (min-width: 414px) and (max-width: 760px) {
    .container_site {
        padding: 0 20px;
    }

    .wrapper__menu {
        margin-right: 100px;
    }

    .title {
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .news__desc-title {
        font-size: 14px;
    }

    .content {
        width: 100%;
    }

    .checkbox_popup {
        margin-bottom: 5px;
    }

    .slider_title_one {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .slider_title_one::after {
        width: 13%;
    }

    .date__info {
        margin-bottom: 10px;
    }

    .date__info-item {
        font-size: 12px;
    }

    .category__title__wrap {
        margin-bottom: 10px;
    }

    .category__title {
        font-size: 14px;
        color: #000;
    }

    .category__desc {
        font-size: 12px;
    }    
    
    .auto__desc {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .wrap__form {
        justify-content: center;
    }

    .station__form {
        margin-top: 20px;
    }

    .auto {
        height: 290px;
        max-width: 400px;
    }

    .auto__title {
        font-size: 14px;
        margin-bottom: -5px;
    }

    .label__popup {
        font-size: 12px;
    }

    .field_name {
        margin-bottom: 5px;
    }

    .input__popup  {
        font-size: 12px;
    }

    .field_phone {
        margin-bottom: 5px;
    }

    .field_calendar {
        margin-bottom: 5px;
    }

    .checkbox__drive {
        font-size: 12px;
    }

    .label__popup {
        margin-right: 230px;
    }

    .popup__btn  {
        font-size: 12px;
    }
}


@media (min-width: 320px) and (max-width: 414px) {
    .container_site {
        padding: 0 5px;
    }

    .slider_title_one::after {
        width: 30%;
    }

    .title {
        font-size: 16px;
        line-height: 40px;
        margin-top: 25px;
        padding-bottom: 10px;
    }

    .content {
        width: 100%;
    }

    .title__image {
        margin-top: 5px;
    }

    .news__desc-title {
        font-size: 14px;
    }

    .auto__title {
        font-size: 14px;
    }

    .label__popup {
        margin-right: 155px;
    }

    .input__popup {
        max-width: 250px;
        width: 250px;
    }

    .slider_title_one {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .slider_title_one::after {
        width: 12%;
    }

    .date__info-item {
        font-size: 12px;
    }

    .category__title {
        color: #000;
        font-size: 14px;
    }

    .category__desc {
        font-size: 12px;
    }

    .date__info {
        margin-bottom: 10px;
    }

    
    .wrap__form {
        justify-content: center;
    }

    .auto {
        max-width: 300px;
    }

    .auto__title {
        font-size: 14px;
    }

    .popup_cont {
        margin-left: 20px;
    }

    .label__popup {
        font-size: 12px;
    }

    .input__popup {
        font-size: 12px;
    }

    .label__popup {
        margin-right: 160px;
    }

    .input__popup {
        width: 250px;
    }

    .checkbox__drive {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
    }
}