.container_site {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 195px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
}

.logo_container {}

.logo {}

.company__logo {
    max-width: 217px;
    height: 123px;
}

.adress {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

.addr {}

.addr__item {
    margin-right: -25px;
    margin-bottom: 10px;
}

.addr__item::before {
    content: url(../icons/Vector.svg);
    margin-right: 5px;
}

.wrapper__phone {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.phone {
    margin-top: -5px;
    margin-bottom: 10px;
}

.phone::before {
    content: url(../static/icons/telephone.svg);
    margin-right: 5px;
}

.rev__phone {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #47A0ED;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    background: #009bd8;
    width: 208px;
    height: 38px;
    border: 0;
}

.text__phone {
    padding-left: 30px;
}

.work__detail {}

.work__title {}

.work__saloon {}

.work__tech {}

.nav {
  margin-top: 50px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.nav__item {}

.nav__item__link {}

.slider_wrapper  {
    width: 1600px;
    height: 1300px;
}

.slider-container {
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
}

.swiper-container {}

.swiper-wrapper {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    height: 100%;
}

.swiper-slide {

}

.card {

}

.category__image {
    flex-shrink: 0;
}

.news__card {

}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.content {
    padding: 50px 0;
    max-width: 1000px;
    margin: 0px auto;
}

.tabs {
    margin: 0px 0px 50px 0px;
}

.tabs__items {
    display: flex;
}

.tabs__item {
    flex: 0 1 25%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs__body {}

.tabs__block {
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
    display: none;
}

.tabs__block:target {
    display: block;
}

.tab__img {
    width: 290px;
    flex-shrink: 0;
}